/* SETTING UNIVERSAL PROPERTIES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ----------START OF HEADER---------- */
header {
  display: flex;
  background: #1f2937;
  color: #e5e7eb;
  justify-content: space-between;
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 1%;
}
/* CHANGE LIST & ANCHOR STYLE & PLACEMENT */
ul,
a {
  list-style-type: none;
  text-decoration: none;
  color: #e5e7eb;
  display: flex;
  gap: 20px;
}
/* ----------END OF HEADER---------- */

/* ----------START OF SECTION 1---------- */

.section-1 {
  display: flex;
  background: #1f2937;
  border: 1px solid red;
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.section-1 h1 {
  font-size: 48px;
  font-weight: bolder;
}

.section-1,
h1,
p {
  color: #f9faf8;
}
/* CONTAINER FOR TEXT ONLY */
.section-1-container-text {
  display: flex;
  flex-direction: column;
  border: 1px solid red;
}
/* H1 TEXT */
.section-1-container-text,
h1 {
  display: flex;
  border: 1px solid red;
  flex-basis: 40%;
}

.section-1-container-text,
p {
  font-size: 18px;
  display: flex;
  border: 1px solid red;
  padding-top: 5px;
  padding-bottom: 5px;
}

/* BUTTON */
.section-1-container-text button {
  background: #3882f6;
  /* removes grey button outline */
  border: none;
  outline: none;
  display: flex;
  padding: 0.5rem 2rem;
  width: fit-content;
  border-radius: 12px;
  color: #f9faf8;
}
