/* SETTING UNIVERSAL PROPERTIES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ----------START OF HEADER---------- */
header {
  display: flex;
  background: #1f2937;
  color: #e5e7eb;
  justify-content: space-between;
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 10px;
}
/* CHANGE LIST & ANCHOR STYLE & PLACEMENT */
ul,
a {
  list-style-type: none;
  text-decoration: none;
  color: #e5e7eb;
  display: flex;
  gap: 20px;
}
/* ----------END OF HEADER---------- */

/* ----------START OF SECTION 1---------- */

.section-1 {
  display: flex;
}
