/* SETTING UNIVERSAL PROPERTIES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* ----------START OF HEADER---------- */
header {
  display: flex;
  background: #1f2937;
  color: #e5e7eb;
  justify-content: space-between;
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 1%;
}
/* CHANGE LIST & ANCHOR STYLE & PLACEMENT */
ul,
a {
  list-style-type: none;
  text-decoration: none;
  color: #e5e7eb;
  display: flex;
  gap: 20px;
}
/* ----------END OF HEADER---------- */

/* ----------START OF SECTION 1---------- */

.section-1 {
  display: flex;
  background: #1f2937;
  padding-left: 14.7%;
  padding-right: 15%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.section-1 h1 {
  font-size: 48px;
  font-weight: bolder;
}

.section-1,
h1 p {
  color: #f9faf8;
}
/* CONTAINER FOR TEXT ONLY */
.section-1-container-text {
  display: flex;
  flex-direction: column;
}
/* H1 TEXT */
.section-1-container-text,
h1 {
  display: flex;
  flex-basis: 40%;
}

.section-1-container-text p {
  color: #e5e7eb;
  font-size: 18px;
  display: flex;
  padding-top: 5px;
  padding-bottom: 10px;
}

/* BUTTON */
.section-1-container-text button {
  background: #3882f6;
  /* removes grey button outline */
  border: none;
  outline: none;
  display: flex;
  padding: 0.5rem 2rem;
  width: fit-content;
  border-radius: 12px;
  color: #f9faf8;
}

/* IMAGE */
.section-1-container-img {
  display: flex;
  width: 60%;
  justify-content: flex-end;
}

.section-1-container-img img {
  display: flex;
  width: 80%;
  height: 85%;
}

/* ----------END OF SECTION 1---------- */

/* ----------START OF SECTION 2---------- */

/* resize images to fit and round corners */
.section-2 img {
  width: 150px;
  height: 150px;
  border-radius: 15px;
}

.section-2 h1 {
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
  display: flex;
  justify-content: center;
  padding-top: 3%;
}

.section-2-container {
  display: flex;
  justify-content: center;
  gap: 5%;
  padding-top: 3%;
  padding-bottom: 8%;
}

.section-2-container-item {
  text-align: center;
  width: 150px;
}

/* ----------END OF SECTION 2---------- */

/* ----------START OF SECTION 3---------- */

.section-3-container {
  display: flex;
  flex-direction: column;
  background: #e5e7eb;
  padding-top: 15%;
  padding-bottom: 15%;
  padding-left: 22%;
  padding-right: 22%;
  height: 20rem;
  justify-content: center;
}

.section-3-quote {
  font-size: 36px;
  font-weight: 100;
  font-style: italic;
  display: flex;
  width: 92%;
}

.section-3-quote-author {
  font-size: 18px;
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
  margin-right: 10%;
}
/* ----------END OF SECTION 3---------- */

/* ----------START OF SECTION 4---------- */

.section-4 {
  margin-top: 7%;
  margin-bottom: 7%;
}
.section-4-container-call-to-action-background {
  display: flex;
  background: #3882f6;
  margin-left: 15%;
  margin-right: 15%;
  border-radius: 10px;
  height: 10rem;
}
.call-to-action-container-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10%;
}

.call-to-action-container-text h2 {
  color: #f9faf8;
}

.call-to-action-container-text p {
  color: #d8d9da;
}
/* could definitly do this better, ask for suggestions */
.section-4-container-call-to-action-background button {
  display: flex;
  font-size: 18px;
  background: #3882f6;
  border-radius: 12px;
  border: 2px solid #f9faf8;
  color: #f9faf8;
  align-items: center;
  height: 20%;
  width: 12%;
  justify-content: center;
  margin-left: 150px;
  margin-top: 70px;
}

/* ----------END OF SECTION 4---------- */

/* ----------START OF FOOTER---------- */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1f2937;
  color: #e5e7eb;
  padding: 2%;
}
